.dnd-item-collapsible {
  border-bottom: 1px solid;
}

.dnd-item-collapsible-header {
  display: flex;
  align-items: center;
}

.dnd-item-collapisble-content {
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.ResizablePanel {
  maxSize: 30;
  minSize: 15;
}